<div class="aw-top-menu-wrap">
    <div class="container1">
        <!-- 用户栏 -->
            {{if user}}
            <div class="aw-user-nav">
                <a href="" class="aw-user-nav-dropdown">你好用户{{user.username}}
                </a>
                <div class="aw-dropdown dropdown-list pull-right">
                    <ul class="aw-dropdown-list">
                        <li><a href="/user/logout"><i class="icon icon-logout"></i> 退出</a></li>
                    </ul>
                </div>
                {{else}}
                <span>
                    <a class="register btn btn-normal btn-success" href="/user/register">注册</a>
                    <a class="login btn btn-normal btn-primary" href="/user/login">登录</a>
                  </span>
            {{/if}}
            <!-- 登陆&注册栏 -->

            <!-- end 登陆&注册栏 -->
        </div>
        <!-- end 用户栏 -->
    </div>
</div>
{{if user}}
<div class="container">
    <div class="page-header">
        <h1>首页--<small>我的音乐</small></h1>
    </div>
    <a href="/addMusic" class="btn btn-success">添加音乐</a>
</div>
{{/if}}